* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    text-decoration:none;
    border:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif; 
    /* 
    font-family: 'Alata', sans-serif;
    */
}

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.desktop {
    display: none;
}

.logo {
    max-width: 192px;
    width: 100%;
    height: 32px;
    background: url('./images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#menu {
    display: none;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type='checkbox'] + label {
    margin-left: 10px;
    display: block;
    width: 24px;
    height: 20px;
    background: url('./images/icon-hamburger.svg') no-repeat;
}

input[type='checkbox']:checked + label {
    background-image: url('./images/icon-close.svg');
}

#menu-list {
    display: none;
}

ul#menu-list.open {
    position: absolute;
    background-color: var(--black);
    left: 0; top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    padding: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu-list > li {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0;
}

#menu-list > li > a {
    color: var(--dark-gray);
}

.banner-header {
    height: 100vh;
    background-image: url('./images/mobile/image-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
    display: flex;
    align-items: center;
}

.banner-header > h1 {
    text-transform: uppercase;
    color: var(--white);
    /* line-break: loose; */
    font-size: 11vw;
    letter-spacing: 1px;
    line-height: 47px;
    padding: 5%;
    border: 2px solid var(--white);
}

.banner-main,
.card {
    padding: 30px;
}

.banner-main > img,
.card > img {
    width: 100%;
}

.banner-main-description > h2,
.our-creations > h2 {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0 20px 0;
}

.our-creations {
    text-align: center;
    margin-bottom: 50px;
}

.banner-main-description > p {
    font-size: 18px;
    font-weight: 700;
    color: var(--very-dark-gray);
    text-align:center;
    line-height: 28px;
}

.card {
    position: relative;
}

.card > h3 {
    position: absolute;
    bottom: 50px;
    left: 50px;
    text-transform: uppercase;
    color : var(--white);
    font-weight: 300;
}

.see-all {
    font-weight: 700;
    font-family: 'Alata', sans-serif;
    letter-spacing: 8px;
    color: var(--black);
    border: 1px solid var(--black);
    text-transform: uppercase;
    padding: 10px 30px;
}

footer {
    padding: 50px 0;
    background-color: var(--black);
    text-align: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-footer > ul > li {
    margin: 30px 0;
}

.nav-footer > ul > li > a {
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
}

.icons > a {
    margin: 0 8px;
}

.copyright {
    margin-top: 20px;
    color: var(--dark-gray);
}

.footer-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 500px) {
    .banner-header > h1 {
        padding: 3.5%;
        width: 655px;
        font-size: 62px;
        line-height: 68px;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 720px) {
    input[type='checkbox'] + label {
        display: none;
    }

    .navigation {
        padding: 40px 5%;
        position: absolute;
    }

    main {
        padding: 5%;
    }

    #menu-list {
        display: flex;
        flex-direction: row;
    }
    
    ul#menu-list.open {
        position: relative;
        background-color: rgba(0,0,0,0);
        width: auto;
        height: auto;
        z-index: 0;
        padding: 5%;
    
        display: flex;
        flex-direction: row;
    }
    
    #menu-list > li {
        text-transform:none;
        font-size: 15px;
        margin: 0 0 0 20px;
    }
    
    #menu-list > li > a {
        font-family: 'Alata', sans-serif;
        color: var(--white);
    }

    .banner-header {
        width: 100%;
        height: 590px;
        background-image: url('./images/desktop/image-hero.jpg');
        background-size: 100% 100%;
    }

    .banner-main {
        position: relative;
    }

    .banner-main > img {
        width: 70%;
    }

    .banner-main-description {
        right: 0;
        bottom: 0;
        width: 50%;
        position: absolute;
        padding: 35px;
        background-color: var(--white);
    }

    .card {
        padding: 0;
    }

    .copyright {
        margin-top: 36px;
    }

    .icons {
        text-align: end;
    }

    .creation-cards {
        margin: 60px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }

    footer {
        padding: 50px 5%;
        text-align: start;
        display: flex;
        justify-content: space-between;
    } 

    .footer-logo-container {
        justify-content: flex-start;
    }

    .nav-footer > ul {
        display: flex;
    }

    .nav-footer > ul > li {
        margin-right: 24px;
    }

    .footer-logo {
        flex-direction: column;       
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}